<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arboleda.tifloapp">
    <!-- Permite a las aplicaciones tener acceso a la red de internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permite que la aplicación grabe audio -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- Permite a las aplicaciones acceder a información sobre redes -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TifloApp">
        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pdfs.AddTxtActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".pdfs.TxtViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".pdfs.AddPdfActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".pdfs.PdfViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".edits.EditBook"
            android:screenOrientation="portrait"/>
        <activity android:name=".remove.RemoveUserActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".menus.SimpleMenuActivity" />
        <activity
            android:name=".view.FinalActivity"
            android:configChanges="orientation|keyboard|layoutDirection|screenSize|screenLayout"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.SecondUserListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.FirstUserListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".menulibros.SecondListAdminActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".menulibros.ContentAddActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ForgotPassActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".menulibros.FileListAdminActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".menulibros.PoesiaAddActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".menulibros.DeleteBook"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.NewActivity" /> <!-- <activity android:name=".menulibros.EditBook" /> -->
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AuthActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".menus.MasterMenu"
            android:screenOrientation="portrait"/>
        <activity android:name=".menulibros.CreateBook"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>